<div class="Background">
  <nav class="main-navbar">
    <img  src="../../../../_assets/images/logo/TTT-logo.png" alt="logo" />
    <ul class="navbar-list">
      <li><a href="login">Log in</a></li>
      <li><a href="signin">Sign in</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <div>
      <h1>MancsTárs</h1>
      <br />
      <p>
        "Find your perfect match - your four-legged <br />
        friend is already waiting for you!"
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>

