<app-navbar></app-navbar>

<div class="container-fluid" id="dogContainer">
  <div class="row">
    <div class="col-3" *ngFor="let dog of dogs">
      <div class="card">
        <img [src]="dog.dogImg" class="card-img-top" alt="{{ dog.name }}" />
        <div class="card-body">
          <h5 id="name" class="card-title">{{ dog.name }}</h5>
          <p class="card-text">
            Age: {{dog.age}} <br>
            Gender: {{dog.gender}} <br>
            Breed: {{dog.breed}}

          </p>
          <button class="showBtn" (click)="openPopup(dog)">Show more</button>
          <!-- <a href="#" class="showBtn">Show more</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="selectedDogs">
  <div class="popup">
    <button class="closeBtn" (click)="closePopup()">X</button>
    <h2>{{ selectedDogs?.name }}</h2>
    <p>
        Age: {{ selectedDogs?.tendencyToEscape }} <br>
        Gender: {{ selectedDogs?.tendencyToGainWeight }} <br>
        Catfriendly: {{ selectedDogs?.catFriendly}}
  </p>
    
  </div>
</div>

