<nav class="SubNavBar">
    <div class="SubNavBar">
      <div>
        <a href="#"><img src="../../../../_assets/icons/Navbar/Default-options/menu.svg" alt="menu" /></a>

        <a href="dogs"><img src="../../../../_assets/icons/Navbar/Default-options/dogs.svg" alt="dogs" /></a>

        <a href="cats"><img src="../../../../_assets/icons/Navbar/Default-options/cats.svg" alt="cats" /></a>

        <a href="shelters"><img src="../../../../_assets/icons/Navbar/Default-options/pin-alt.svg" alt="shelter" /></a>

        <a href="details"><img src="../../../../_assets/icons/Navbar/Default-options/chat.svg" alt="Details" /></a>
      </div>

      <div class="Settings">
        <a href="#"><img src="../../../../_assets/icons/Navbar/Default-options/user-alt.svg" alt="profile" /></a>

        <a href="#"><img src="../../../../_assets/icons/Navbar/Default-options/setting-line.svg" alt="settings" /></a>

        <a href="successlogout"><img src="../../../../_assets/icons/Navbar/Default-options/sign-in-squre.svg" alt="sign out" /></a>
      </div>
    </div>
  </nav>