.SubNavBar {
    background-color: #EEEAD9;
    position: fixed;
    height: 100%;
    width: 63px;
    top: 0;
    left: 0;
    z-index: 10;
}

.SubNavBar .Settings {
    position: absolute;
    bottom: 0;
}
.SubNavBar .Settings img:hover{
    background-color: rgba(165, 135, 150, 50%);
    transition: 0.1s;
}