<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MancsTárs|Home</title>
    <link rel="stylesheet" href="./main-page.component.css" />

  </head>
  <body class="MainPageBackground">
    <!-- *************************NavBar************************ -->

    <nav class="main-navbar">
      <img id="logo" src="../resources/Image/Logo/TTT-logo.png" alt="logo" />
      <ul class="navbar-list">
        <li><a href="./Dogs.html">Log in</a></li>
        <li><a href="./Dogs.html">Sign in</a></li>
      </ul>
    </nav>

    <!-- *************************Content************************ -->

    <section class="main-content">
      <div>
        <h1>MancsTárs</h1>
        <br />
        <p>
          "Find your perfect match - your four-legged <br />
          friend is already waiting for you!"
        </p>
      </div>
    </section>

    <!-- *************************Footer************************ -->

    <footer class="main-footer">
      <div>
        <ol class="paw-list-mark">
          <li>mancstarsemailcim</li>
          <li>+36 30 322 4344</li>
          <li class="socal-media">
            <ul>
              <li>
                <img src="../assets/Social-Media-Icon/Facebook.svg" alt="Facebook">
                <img
                  src="../assets/Social-Media-Icon/Instagram.svg"
                  alt="Instagram"
                />
              </li>
              <li>
                <img
                  src="../assets/Social-Media-Icon/TikTok.svg"
                  alt="TikTok"
                />
                <img
                  src="../assets/Social-Media-Icon/Youtube.svg"
                  alt="Youtude"
                />
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </footer>

  </body>
</html>

