<form action="" id="form">
  <h1>Log in</h1>
  <div class="input-group">
    <input type="text" id="username" name="username" placeholder="Username" />
    <div class="errorMessage"></div>
  </div>
  <div class="input-group">
    <input type="password" id="password" name="password" placeholder="Password"/>
    <div class="errorMessage"></div>
  </div>
  <div>
    <a href="signin">Don't have an account? Register one here!</a>
    <br />
    <a href="enteremail">Forgot Password?</a>
  </div>
  <button class="loginBtn" type="submit" ><a href="dogs">Sign in</a></button>
</form>
