<footer class="main-footer">
  <div>
    <ol class="paw-list-mark">
      <li>email</li>
      <li>+36 30 322 4344</li>
      <li class="socal-media">
        <ul>
          <li>
            <img src="../../../../_assets/icons/Social-Media-Icon/Facebook.svg" alt="FaceBook" />
            <img src="../../../../_assets/icons/Social-Media-Icon/Instagram.svg" alt="Instagram" />
          </li>
          <li>
            <img src="../../../../_assets/icons/Social-Media-Icon/TikTok.svg" alt="TikTok" />
            <img src="../../../../_assets/icons/Social-Media-Icon/Youtube.svg" alt="Youtude" />
          </li>
        </ul>
      </li>
    </ol>
  </div>
</footer>
