<app-navbar></app-navbar>

<div class="container-fluid" id="shelterContainer">
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn ">Show more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" id="shelterCard">
        <img
          src="../../../../_assets/images/shelter/shelter.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dombóvári Animal Shelter</h5>
          <p class="card-text">
            Tel.: 06301234567<br />
            Mail: mancstarsemail<br />
            7200 Dombóvár, Béke Utca 1
          </p>
          <a href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"  class="btn">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>
