<app-navbar></app-navbar>

<div class="container-fluid" id="shelterContainer">
  <div class="row">
    <div class="col-12" *ngFor="let shelter of shelters">
      <div class="card" id="shelterCard">
        <div class="card-body">
          <h5 class="card-title">{{ shelter.shelterName }}</h5>
          <p class="card-text">
            Tel.: {{ shelter.phoneNumber }}<br />
            Email: {{ shelter.email }}<br />
            Address: {{ shelter.address }}
          </p>
          <a
            href="https://www.facebook.com/helpgazdikeresok/?locale=hu_HU"
            class="btn"
            >Show more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<br />
