<form action="" id="form">
  <h1>Sign in</h1>
  <div class="input-group">
    <input type="text" id="username" name="username" placeholder="Username"/>
    <div class="errorMessage"></div>
  </div>
  <div class="input-group">
    <input type="email" id="email" name="email" placeholder="Email"/>
    <div class="errorMessage"></div>
  </div>
    <div class="input-group">
    <input type="password" id="password" name="password" placeholder="Password" />
    <div class="errorMessage"></div>
  </div>
  <div class="input-group">
    <input type="text" id="BDate" name="birthdate" placeholder="Birthdate" />
    <div class="errorMessage"></div>
  </div>
  <div class="input-group">
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Confirm Password"
    />
    <div class="errorMessage"></div>
  </div>
  <div>
    <a href="login">Already have an account? Login here!</a>
  </div>
  <button class="signBtn" type="submit"><a href="dogs">Sign in</a></button>
</form>
