<app-navbar></app-navbar>
<div class="container-fluid" id="catContainer">
  <div class="row">
    <div class="col-3" *ngFor="let cat of cats">
      <div class="card">
        <img [src]="cat.catImg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ cat.name }}</h5>
          <p class="card-text">
            Age: {{cat.age}} <br>
            Gender: {{cat.gender}} <br>
            Breed: {{cat.breed}}

          </p>
          <a href="#" class="showBtn">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>
