<app-navbar></app-navbar>
<div class="container-fluid" id="catContainer">
  <div class="row">
    <div class="col-3" *ngFor="let cat of cats">
      <div class="card">
        <img [src]="cat.catImg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ cat.name }}</h5>
          <p class="card-text">
            Age: {{cat.age}} <br>
            Gender: {{cat.gender}} <br>
            Breed: {{cat.breed}}

          </p>
          <button class="showBtn" (click)="openPopup(cat)">Show more</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="selectedCats">
  <div class="popup">
    <button class="closeBtn" (click)="closePopup()">X</button>
    <h2>{{ selectedCats?.name }}</h2>
    <p>
        Tendency to Escape: {{ selectedCats?.tendencyToEscape }} <br>
        Tendency to Gain weight: {{ selectedCats?.tendencyToGainWeight }} <br>
        Dog friendly: {{ selectedCats?.dogFriendly}} <br>
        Energy level: {{ selectedCats?.energyLevel}} <br>
        Apartment friendly: {{ selectedCats?.apartmentFriendly}} <br>
        Health: {{ selectedCats?.health}} <br>
        Intelligence: {{ selectedCats?.intelligence}} <br>
        Kids friendly: {{ selectedCats?.kidsFriendly}}
  </p>
    
  </div>
</div>
